* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Cute Font", cursive; */
  font-family: "Iceland", cursive;
}

@font-face {
  font-family: "clockFont";
  src: local("clockFont"), url("./fonts/clockFont.ttf") format("truetype");
}

.clock-container {
  height: 100vh;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

.timer-wrapper {
  text-shadow: 3px 3px 1px black;
  color: #ffffff;
  max-width: 100%;
}

.clock {
  display: flex;
  justify-content: center;
  max-width: 100%;
  align-items: center;
  text-shadow: 1px 1px 7px orangered;
  gap: 8px;
}

.clock section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock section p {
  font-size: 10vw;
  font-family: "clockFont";
}

.clock section small {
  font-size: 3.2vh;
}

.clock span {
  font-size: 9vh;
  font-family: "clockFont";
  margin-bottom: 35px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

video {
  height: 50vh;
  object-fit: fill;
  max-width: 100%;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 0px white;
  -webkit-box-shadow: 0px 0px 5px 0px white;
  -moz-box-shadow: 0px 0px 5px 0px white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 515px){
  .clock span {
    font-size: 5vh;
  }
}

@media screen and (max-width: 425px) {
  .clock-container {
    justify-content: center;
    gap: 100px;
  }
  .clock span {
    font-size: 5vh;
    font-family: "clockFont";
    margin-bottom: 17px;
  }
  video {
    height: 30vh;
    width: 92vw;
    max-width: 100%;
  }

  .clock section small {
    font-size: 14px;
  }
  
}
